<form #addClient="ngForm" autocomplete="off" [formGroup]="formClient" (ngSubmit)="onClickSubmit(addClient.value)">
  <div *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Client ajouté avec succès !</strong>

      </p>
    </div>
  </div>  
  <div class="form-group row">
    <label for="nom" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-3">
      <input name="nom" formControlName="nom" placeholder="Lombard" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="prenom" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-3">
      <input name="prenom" formControlName="prenom" placeholder="Thomas" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="date_naissance" class="col-sm-2 col-form-label">Date de naissance</label>
    <div class="col-sm-3">
      <input name="date_naissance" formControlName="date_naissance" placeholder="date_naissance" type="date" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-3">
      <input name="email" formControlName="email" placeholder="xyz@xyz.xyz" type="email" class="form-control">
      <input class="btn btn-primary" type="submit" value="Ajouter"/>&nbsp;
      <input class="btn btn-danger" (click)="goBack()" value="Annuler"/>
    </div>
  </div>
</form>