
<div class="container-fluid">
  <button (click)="add_emprunt(display.id_client)" routerLink="/emprunt" class="btn btn-success float-right" style="margin-top: 5px">Nouvel emprunt</button>
<div class="row">
  <div class="col-6">
      <h2>{{display.nom | uppercase}} {{display.prenom}}</h2>
      <br>
      <form #editClient="ngForm" autocomplete="off" [formGroup]="formClient" (ngSubmit)="onClickSubmit(editClient.value)"> 
        <div *ngIf="showMsg">
          <div class="col-xs-12">
            <p class="alert alert-success">
                <strong>Modifications effectuée !</strong>
  
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="id_client" class="col-sm-4 col-form-label">id</label>
          <div class="col-sm">
            <input formControlName="id_client" [(ngModel)]="display.id" readonly name="id_client" placeholder="id_client" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="nom" class="col-sm-4 col-form-label">Nom</label>
          <div class="col-sm">
            <input formControlName="nom" [(ngModel)]="display.nom" name="nom" placeholder="nom" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="prenom" class="col-sm-4 col-form-label">Prénom</label>
          <div class="col-sm">
            <input formControlName="prenom" [(ngModel)]="display.prenom" name="prenom" placeholder="prenom" type="text" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="date_naissance" class="col-sm-4 col-form-label">Date de naissance</label>
          <div class="col-sm">
            <input formControlName="date_naissance" name="date_naissance" placeholder="date_naissance" type="date" [ngModel] ="display.date_naissance | date:'yyyy-MM-dd'" class="form-control">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm">
            <input formControlName="email" [(ngModel)]="display.email" name="email" placeholder="email" type="email" class="form-control">
            <br>
            <input type="submit" class="btn btn-primary" value="Modifier"/>&nbsp;
            <button class="btn btn-danger" (click)="delete(client)">Supprimer</button>
          </div>
        </div>
      </form>
  </div>
  
</div>
  
</div>